<h2>Your Deals</h2>
<p>
  Profit:
  <span style="color: {% if whole_profit >= 0 %}green{% else %}red{% endif %}">
    <strong>{{ whole_profit }}$</strong>
  </span>
</p>
<form method="POST" action="{% url 'tradebook:delete_deal' %}">
{% csrf_token %}

<table class="deals-table">
    <thead>
        <tr>
            <th><input type="checkbox" name="select_all"></th>
            <th>Item</th>
            <th>Buy</th>
            <th>Sell</th>
            <th>Profit</th>
            <th>Status</th>
            <th>Notes</th>
            <th>
                <button type="submit">Delete Selected</button>
            </th>
        </tr>
    </thead>

    <tbody>
        {% for deal in deals %}
        <tr>
            <td><input type="checkbox" name="selected_deals" value="{{ deal.id }}"></td>
            <td>{{ deal.item }}</td>
            <td>{{ deal.purchase_price }}$</td>
            <td>{{ deal.sell_price }}$</td>

            <td style="color: {% if deal.profit > 0 %}green{% else %}red{% endif %}">
                {{ deal.profit }}$
            </td>

            <td>{{ deal.status }}</td>

            <td>
                <button type="button" onclick="toggleNotes({{ forloop.counter }})">
                    Show
                </button>
            </td>

            <td>
                <button type="submit" name="delete_row" value="{{ deal.id}}">
                    Delete
                </button>
            </td>
        </tr>

        <tr id="notes-{{ forloop.counter }}" class="hidden">
            <td colspan="8">
                {{ deal.notes|default:"No notes" }}
            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="8">No deals found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</form>