{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'tradebook/style.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <title>Tradebook</title>
</head>
<body>

<div class="container">

    <h1>📊 Tradebook</h1>
    <h2>{{ user.username }}</h2>


    <br><br>
    <!-- CREATE TAG -->
    <form method="post" action="{% url 'tradebook:create_tag' %}">
        {% csrf_token %}
        {{ tag_form }}
        <br>
        <button type="submit">Create Tag</button>
    </form>
    <br>
    <!-- MAIN LAYOUT -->
    <div class="main-layout">

        <!-- SIDEBAR -->
        <div class="sidebar">

    <h3>📁 Tags</h3>

    <a hx-get="{% url 'tradebook:tradebook' %}"
       hx-target="#deals"
       hx-push-url="true">
        All
    </a>

{% for tag in tags %}
<div style="display:inline-flex; align-items:center; gap:6px; margin-right:8px;">

    <a href="{% url 'tradebook:tradebook' %}?tag={{ tag.id }}"
       hx-get="{% url 'tradebook:tradebook' %}?tag={{ tag.id }}"
       hx-target="#deals"
       hx-push-url="true"
       style="text-decoration:none;">
        {{ tag.tag }}
    </a>

    <form method="POST" action="{% url 'tradebook:delete_tag' %}" style="margin:0;">
        {% csrf_token %}
        <input type="hidden" name="tag" value="{{ tag.id }}">

        <button type="submit"
            style="
                background:none;
                border:none;
                cursor:pointer;
                padding:0;
                font-size:16px;
            ">
            <span>🗑️</span>
        </button>
    </form>

</div>
{% endfor %}

    <h3>📅 By Month</h3>

    {% for m in months %}
        <a
            hx-get="{% url 'tradebook:tradebook' %}?date={{ m.month|date:'Y-m' }}"
            hx-target="#deals"
            hx-push-url="true"
        >
            {{ m.month|date:"F Y" }}
        </a>
    {% endfor %}

</div>


    <div class="deal-side">
     <button id="toggleBtn">+ Add Deal</button>

    <form method="POST" action="{% url 'tradebook:upload_csv' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="csv_file" accept=".csv">
        <button type="submit">Upload CSV</button>
    </form>

        {% if result.file_error %}
    <p style="color: red">{{ result.file_error }}</p>

{% else %}
    <p style="color: green">Successfully imported: {{ result.created }} deals</p>

    {% if result.skipped %}
        <p>Skipped {{ result.skipped|length }} rows:</p>
        <table>
            <thead>
                <tr>
                    <th>Row</th>
                    <th>Errors</th>
                </tr>
            </thead>
            <tbody>
                {% for skip in result.skipped %}
                <tr>
                    <td>{{ skip.row }}</td>
                    <td>
                        {% for error in skip.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}


    <div id="formContainer" class="hidden">
        <form method="POST" action="{% url 'tradebook:create_deal' %}">
            {% csrf_token %}
            <input
                type="text"
                id="item-search"
                placeholder="Search item..."
                autocomplete="off"
                hx-get="{% url 'tradebook:search_items' %}"
                hx-trigger="keyup changed delay:300ms"
                hx-target="#item-results"
                name="query"
                value="{{ form.instance.item.name_on_market|default:'' }}"
            >
            <div id="item-results"></div>
            {{ form }}
            {{ form.errors }}
            <button type="submit">Save Deal</button>
        </form>
    </div>
        <!-- DEALS -->
        <div id="deals" class="deals-container">
            {% include 'tradebook/partials/deals.html' %}
        </div>

    </div>
    </div>
</div>

<script>
const btn = document.getElementById("toggleBtn");
const formContainer = document.getElementById("formContainer");

btn.addEventListener("click", () => {
    formContainer.classList.toggle("hidden");
});

// NOTES TOGGLE
function toggleNotes(id) {
    const row = document.getElementById("notes-" + id);
    row.classList.toggle("hidden");
}

// SELECT ALL
document.addEventListener("DOMContentLoaded", () => {
    const selectAll = document.querySelector('input[name="select_all"]');

    if (selectAll) {
        selectAll.addEventListener('change', function () {
            document.querySelectorAll('input[name="selected_deals"]').forEach(cb => {
                cb.checked = selectAll.checked;
            });
        });
    }
});

function selectItem(id, name) {
    document.getElementById('id_item').value = id;
    document.getElementById('item-search').value = name;
    document.getElementById('item-results').innerHTML = '';
}

</script>

</body>
</html>