{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'tradebook/style.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <title>Tradebook</title>
</head>
<body>

<div class="container">

    <h1>📊 Tradebook</h1>
    <h2>{{ user.username }}</h2>


    <br><br>
    <!-- CREATE TAG -->
    <form method="post" action="{% url 'tradebook:create_tag' %}">
        {% csrf_token %}
        {{ tag_form }}
        <br>
        <button type="submit">Create Tag</button>
    </form>
    <br>
    <!-- MAIN LAYOUT -->
    <div class="main-layout">

        <!-- SIDEBAR -->
        <div class="sidebar">

    <h3>📁 Tags</h3>

    <a hx-get="{% url 'tradebook:tradebook' %}"
       hx-target="#deals"
       hx-push-url="true">
        All
    </a>

    {% for tag in tags %}
        <a hx-get="{% url 'tradebook:tradebook' %}?tag={{ tag.id }}"
           hx-target="#deals"
           hx-push-url="true">
            {{ tag.tag }}
        </a>
    {% endfor %}

    <h3>📅 By Month</h3>

    {% for m in months %}
        <a
            hx-get="{% url 'tradebook:tradebook' %}?date={{ m.month|date:'Y-m' }}"
            hx-target="#deals"
            hx-push-url="true"
        >
            {{ m.month|date:"F Y" }}
        </a>
    {% endfor %}

</div>


    <div class="deal-side">
     <button id="toggleBtn">+ Add Deal</button>


    <div id="formContainer" class="hidden">
        <form method="POST" action="{% url 'tradebook:create_deal' %}">
            {% csrf_token %}
            {{ form }}
            {{ form.errors }}
            <button type="submit">Save Deal</button>
        </form>
    </div>
        <!-- DEALS -->
        <div id="deals" class="deals-container">
            {% include 'tradebook/partials/deals.html' %}
        </div>

    </div>
    </div>
</div>

<script>
const btn = document.getElementById("toggleBtn");
const formContainer = document.getElementById("formContainer");

btn.addEventListener("click", () => {
    formContainer.classList.toggle("hidden");
});

// NOTES TOGGLE
function toggleNotes(id) {
    const row = document.getElementById("notes-" + id);
    row.classList.toggle("hidden");
}

// SELECT ALL
document.addEventListener("DOMContentLoaded", () => {
    const selectAll = document.querySelector('input[name="select_all"]');

    if (selectAll) {
        selectAll.addEventListener('change', function () {
            document.querySelectorAll('input[name="selected_deals"]').forEach(cb => {
                cb.checked = selectAll.checked;
            });
        });
    }
});
</script>

</body>
</html>