{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body>

<div class="container">
    <div class="form-box">
        <form action="" method="POST">
            <h2>Create Account</h2>
            {% csrf_token %}

            {{ form }}

            <button type="submit">Sign Up</button>
    </form>
        <p>Already have an account?</p>
        <a href="/login/">Login</a>
    </div>
</div>

</body>
</html>